body {
  margin: 0;
  place-items: center;
  width: 100%;
}

.search {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 650px) {
  .search {
    flex-direction: column;
    gap: 10px;
  }
}
